.rightMenu{
	height: 100vh;
	width: 100px;
	min-width: 100px;
	z-index: 1;
	background: rgba(34, 34, 34, 0.5);
	backdrop-filter:  blur(10px);
	border-left: 1px solid rgba(255,255,255,0.1);
	transition: all 0.3s cubic-bezier(0.175,0.885,0.32,1.275);
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;	
}
.rightMenu .goPro, .rightMenu .profile{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	cursor: pointer;
}
.rightMenu .goPro i,
.rightMenu .profile i{
	color: #f1f1f1;
	margin: 20px 0;
	text-align: center;
	font-size: 25px;

}

.rightMenu .goPro i p{
	font-size: 16px;
	color: #848484;
}
.rightMenu .goPro i p span{
	color: #f1f1f1 !important;
}
.rightMenu .goPro i:nth-child(2)::before{
	background-color: #49e12e;
	position: absolute;
	width: 8px;
	height: 8px;
	border-radius: 100%;
	content: '';
	
	right: 40px;
}
.profileImage img{
	width: 50px;
	height: 50px;
	border-radius: 50%;
	overflow: hidden;
	background: #555;
}
@media screen and (max-width: 550px){
	.rightMenu{
		min-width: 64px;
	}
}